@charset "UTF-8";
	p {
				text-align: justify;
				text-indent: 50px;
			}
			body{
			background-color: #dddddd;
			color: rgba(0,0,0,1);
			font-family: Arial, sans-serif;
			
			}
			
div#Elias {
	width: 900px;
	background-color: white;
	margin: -20px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding: 10px;
}
header#cabecalho  img#sacola{
	
	position: absolute;
	left: 950px;
	top: 80px;
	
}

/* cabecalho */
 header#cabecalho {
	 
	 border-bottom:  1px #606060 solid;
	 height: 150px;
	 
	 
	 
 }
header#cabecalho h1{
	font-family: Arial, sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin-bottom: 0px;
}

header#cabecalho h2{
	font-family: Arial,sans-serif;
	color: #888888;
	font-size: 15pt;
	margin-top: 0px;
	padding: 0px;
}
 /* figura lá*/
 figure.mirela{
	 position: relative;
	 border : 8px solid white;
	 box-shadow: 1px 1px 4px black;
 }
 
 
 figure.mirela img{
	 width: 100%;
	 height: 100%;
 }
 
 figure.mirela figcaption {
	 opacity:0;
	 position: absolute;
	 top: 0px;
	 background-color : rgba(0,0,0,.4);
	 color: white;
	 width: 100%;
	 height: 100%;
	 padding: 10px;
	 box-sizing: border-box;
	 transition: opacity 1s;
 }
 
 figure.mirela:hover figcaption{
	 opacity: 1;
	 
	 
 }
 
 /* formata??o  do  menu*/
 nav#iranilda {
	 
	 display: block;
	 
	 
 }
 nav#iranilda ul {

list-style: none;
text-transform: uppercase;
position:absolute;
top: -10px;
left: 490px;
 }	 
 
 nav#iranilda li{
	 
	 display: inline-block;
	 background-color: #dddddd;
	 padding: 10px;
	 margin: 2px;
	 transition:background-color 1s;
 }
 
 nav#iranilda h1{
	 display: none;
 }
 
 
 nav#iranilda li:hover{
	 background-color: #606060;
	 
 }
 
 nav#iranilda a{	 
	 color : black;
	 text-decoration: none;
 }
 nav#iranilda a:hover{
	 color: white;
	 
 }
 /*  tabela*/
 table#tabelaa{
	 border: 1px solid #606060;
	 margin-left: auto;
	 margin-right: auto;
	 border-spacing: 0px;
 }
 
 table#tabelaa td {
	 border: 1px solid #606060;
	 padding:10px;
	 text-align: center;
  }
  
  table#tabelaa td.ce{
	  background-color: #606060;
	  color: #ffffff;
	  vertical-align:  top;
	  font-weight: bold;
  }
  table#tabelaa td.de{
	  background-color: #cecece;
	  
	  
  }
  table#tabelaa caption{
	  color:#888888;
	  font-size: 13pt;
	  font-weight: bolder;
  }
  table#tabelaa caption span{
	  color: black;
	  display: block;
	  float: right;
	  font-size: 8pt;
	  padding: 0px;
	  margin-top: 10px;
  }
  /* fim**/
  section#corpo {
	 display: block;
	 width: 485px;
	 float: left;
	 border-right: 1px solid #606060;
	padding-right: 15px;
 }
 aside#lateral {
	 display: block;
	 width: 380px;
	 float: right;
	 background-color: #cecece;
	 margin: 5px 3px auto 3px;
	 padding: 4px;
	 box-shadow:2px 2px 2px rgba(0,0,0,.5);
 }
 
 footer#rodape{
	 clear: both;
	 border-top: 1px solid #606060;
 }
 
 footer#rodape p{
	 text-align: center;
	 
 }
 header#kjh h1{
	color: #606060;
 font-size: 20pt;
 margin-top: 0px;
 padding-top: 0px;
 
 }
 
 a {
	color: #606060;
	text-decoration: none;
	
 }
 
 
 a:hover  {
	text-decoration: underline;
 }
 header#kjh h3 {
	 color: #cecece;
	 font-size:15pt;
	 margin: 10px;
	 padding: 0px;
 }
 
 article#hjk h2 {
		font-size:12pt;
	color: white;
	 background-color: #606060;
	 padding: 4px ;
	 margin: 15px;
 }
 aside#lateral h1{
	 color: #606060;
	 font-size: 20pt;
	 margin-top: 4px;
 }
 aside#lateral h2{
	 color: white;
	 font-size: 14pt;
	background-color: #606060;
	padding: 5px;
	margin: 6px;
 }
 iframe#youtx {
	 width:377px;
 }
 iframe#youtz {
	 width:493px;
 }